name: docs

on:
  push:
    branches:
      - 'master'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: "3.12"
      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
      - name: install packages
        run: |
          make init
      - name: create docs
        run: |
          git fetch origin gh-pages || echo
          uv run mkdocs gh-deploy
