name: docs

on:
  push:
    branches:
      - 'master'

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: setup python
        uses: actions/setup-python@v3
        with:
          python-version: "3.11.3"
      - name: install packages
        run: |
          pip install -r requirements.txt
      - name: create docs
        run: |
          git fetch origin gh-pages || echo
          mkdocs gh-deploy
      - name: compile latex
        uses: xu-cheng/latex-action@v3
        with:
          root_file: main.tex
          compiler: xelatex
          working_directory: latex/src/
      - name: upload pdf
        uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: latex/main.pdf
